*.json
*.jsonl
*.csv
*.pt
*.txt
**/__pycache__
*.tar.gz
*.gz
*.zip
rest/
ckpt/
log/

!data/eval_data/zh_seed_data/seed.jsonl
!data/eval_data/zh_seed_data/prompt_cn.txt
!data/eval_data/belle_data/
!data/eval_data/sharegpt_eval_data/test.json
!comparison-evaluation/
!comparison-evaluation/compare_with_ours/*
!comparison-evaluation/base_models/*
!src/hostfile.txt
!src/dsconfig/*.json
